<div class="grid">
  <div>
    <h1 class="main-title">Destinos Destacados</h1>
    <div class="destinations-container">
      <app-cards
        *ngFor="let destination of destinations$ | async"
        [destination]="destination"
      ></app-cards>
    </div>

    <div>
      <h2 class="sub-title">Descubre</h2>
      <div class="container">
        <app-card-with-text></app-card-with-text>
        <app-card-with-text></app-card-with-text>
        <app-card-with-text></app-card-with-text>
      </div>
    </div>
  </div>
  <div class="borderBlue">
    <h2 class="sub-title">Explora</h2>
    <app-card-with-button></app-card-with-button>
    <app-card-with-button></app-card-with-button>
    <app-card-with-button></app-card-with-button>
  </div>
</div>
