.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    height: 100vh;
    margin-bottom: 3%;
    
}

.container {
    display: flex;
}

.borderRed {
    display: flex;
    justify-content: space-between;
    
}
.borderBlue {
  
    justify-self : center;  
    align-self : center;  
}

