.dashboard {
  padding: 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(7, auto);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  margin-top: 1rem;
}

.icon {
  margin-right: 1rem;
}

.user-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.user-img {
  width: 100px;
}

.user-name {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.best-destination {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.my-trips {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.favorite {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.transaction {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.setting {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

@media screen and (min-width: 1024px) {
  .dashboard {
    grid-template-columns: 15rem auto 10rem;
    grid-template-rows: repeat(6, auto);
  }

  .card {
    justify-content: flex-start;
  }

  .user-info {
    grid-column: 3 / 4;
  }

  .best-destination {
    grid-column: 2 / 3;
  }

  .my-trips {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .favorite {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .transaction {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  
  .setting {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
}