.admin-dashboard-container {
  padding: 1rem 0.5rem;
}

.options-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.options {
  display: flex;
  justify-content: space-evenly;
}

.options-btn {
  padding: 0.5rem 1rem;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 0.5rem;
}