footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons i {
  font-size: 20px;
  color: #1e1e1e;
}
