footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  background-color: #fff;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons i {
  font-size: 20px;
  color: #1e1e1e;
}

.is-login>div>a>i {
  color: #fff;
  font-size: 2rem;
}

.is-login {
  background-color: transparent;
}
