nav {
  width: 100%;
  background-color: #1e1e1e;
}
nav > .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  gap: 3rem;
}

.container > .nav-brand {
  margin-right: auto;
  padding: 1rem;
}

.container > .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

.nav-links > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.container > .nav-login-btn > a {
  background-color: #fff;
  margin: 0 2rem 0 0;
  color: #1e1e1e;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}
.is-login {
  background-color: transparent;
}
.is-login > div > ul > li > a {
  display: none;
}
