nav {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 0.8rem;
  background-color: #1e1e1e;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.nav-login-btn {
  padding: 0.5rem;
  font-weight: 700;
  background-color: #fff;
  color: #1e1e1e;
  border-radius: 0.2rem;
  border: none;
  outline: none;
}

.is-login {
  background-color: transparent;
}

.is-login > div > ul > li > a {
  display: none;
}

@media screen and (min-width: 1024px) {
  .buttons-container {
    width: 20%;
    justify-content: space-between;
  }

  .nav-login-btn {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
  }
}
