<section class="form-container">
  <h2 class="title">Agregar Ciudad</h2>
  <form
    class="city-form"
    action=""
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
  >
    <label for="name">Nombre</label>
    <input type="text" name="name" id="name" formControlName="name" />
    <label for="lat">Latitud</label>
    <input type="number" name="lat" id="lat" />
    <label for="lon">Longitud</label>
    <input type="number" name="lon" id="lon" />
    <label for="province">Provincia</label>
    <select name="province" id="province">
      <option *ngFor="let province of provinces" value="{{ province.name }}">
        {{ province.name }}
      </option>
    </select>
    <div class="btns">
      <button class="btn" type="submit">Crear</button>
    </div>
  </form>
</section>
