<section class="form-container">
  <form action="" method="post">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" value="">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <div class="btns">
      <button class="btn-form" type="submit">Update</button>
      <button class="btn-form">Cancelar</button>
    </div>
  </form>
</section>
