.form-container {
  padding: 1rem;
  width: 100%;
  position: absolute;
  top: 5.537rem;
  bottom: 0;
  background-color: #1e1e1ef3;
  color: #fff;
}

form {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

label {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.btns {
  margin-top: 1rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

.btn-form {
  padding: 0.5rem 1rem;
  background-color: #1e1e1e;
}

