

img {
    width: 320px;
    height: 100%;
    padding-left: 2%;
    border-radius: 8px;

}


.content{
    position: relative;

    left: 1px;
    top: -70px;
    /* background-color: rgba(0, 0, 0, 0.3); */
    color: #fff;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
}

.content > h1 {
    font-size: 12px;
}

.content > p {
    font-size: 9px;
}