.update-form-destination {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.destination-form {
  width: 20rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 0.6rem;
}

label {
  margin: 1rem 0;
  font-weight: bold;
}

input,
textarea,
option,
select {
  color: #000;
}

.btns {
  margin-top: 1rem;
}

.btn {
  width: 50%;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
}
