table {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

thead {
  background-color: #1e1e1e;
  color: #fff;
}

.td-icon {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
}