<div class="users-container">
  <table>
    <thead>
      <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Apellido</td>
        <td *ngIf="windowSize">Email</td>
        <td>Update</td>
        <td>Delete</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td *ngIf="windowSize">{{user.email}}</td>
        <td (click)="clickUpdate()"><img class="td-icon" src="/assets/icons/pen-to-square-solid.svg" alt="icon update"></td>
        <td (click)="deleteUser(user.id)"><img class="td-icon" src="/assets/icons/trash-solid.svg" alt="trash icon"></td>
      </tr>
    </tbody>
  </table>
  <app-user-form-update *ngIf="update"></app-user-form-update>
</div>
