<div *ngIf="!isLoading" class="travel-package-main">
  <section class="content-left">
    <app-gallery class="gallery-box" [gallery]="gallery" [totalDuration]="totalDuration" [isLoading]="isLoading">
    </app-gallery>
    <section class="package-content">
      <header class="header">
        <h1>{{packageTravel.title}}</h1>
      </header>
      <div class="description">
        <i class="fa-sharp fa-solid fa-location-dot" style="color: #ae2d2d;"></i>
        <p>{{packageTravel.description}}</p>
      </div>
    </section>
  </section>




  <section class="set-package mx-4">
        <div class="mx-auto w-full" >
          <mat-card class="persons-field">
            <p class="text-2xl">¿Cuantos viajan?</p>
            <div class="handler-persons-field">
              <mat-label class="persons-field-mat-label">Adultos:</mat-label>
              <div class="controls">
                <button mat-flat-button class="minus-btn" (click)="decrementValue('adults')">
                  -
                </button>
                <div class="persons-quantity">{{packageTravel.adults?.length}}</div>
                <button mat-flat-button class="plus-button" (click)="incrementValue('adults')">
                  +
                </button>
              </div>
            </div>
            <div class="handler-persons-field">
              <mat-label class="persons-field-mat-label">Niños:</mat-label>
              <div class="controls">
                <button mat-flat-button class="minus-btn" (click)="decrementValue('childs')">
                  -
                </button>

                <div class="quantity">{{packageTravel.childs?.length}}</div>
                <button mat-flat-button class="plus-button" (click)="incrementValue('childs')">
                  +
                </button>
              </div>
            </div>
          </mat-card>
        </div>
      <div *ngIf="packageTravel.experiences" class="mat-step-container">
        <div *ngFor="let experience of packageTravel.experiences; let i = index" class="card-step-experience">
          <mat-card [ngClass]="{'exp-selected': true}">
            <div class="exp-header">
              <p class="experience-title">{{experience.title}}</p>
              <button> ver detalle</button>
            </div>
            <div class="badges">
              <span class="badge-price">${{experience.price}}</span>
              <span class="badge-rating">${{experience.price}}</span>
            </div>
            <p>
              {{experience.description}}
            </p>

            <button mat-button class="btn-info">
              Agregar
            </button>
          </mat-card>

        </div>


      </div>
      <button mat-button (click)="addToCart()">Añadir al carrito</button>
  </section>
</div>