<div class="home-container">
    
    <section class="hero-text">
        <h1>Destino Córdoba asjas</h1>
        <h2>kdasjdsla</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non eum eligendi nobis ex mag. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum, incidunt nulla. Excepturi adipisci aliquid mollitia iusto amet, recusandae, neque sequi totam quia possimus libero unde fuga nihil debitis ipsam vel.</p>
        <div class="buttons">
            <button class="btn-primary">
                Button Primary
            </button>
            <button class="btn-secondary">
                Button Secondary
            </button>
        </div>
    </section>

    <section class="hero-images">
        <img src="../../../assets/img/imagen1.webp" alt="Hero Image">
        <img src="../../../assets/img/imagen2.webp" alt="Hero Image">
        <img src="../../../assets/img/imagen3.webp" alt="Hero Image">

    </section>
    
</div>