.travel-package-main {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;

}

.package-content {
  width: 50%;
  margin:auto;
  

}

.header>h1 {
  font-size: 2.5rem;
  font-weight: 600;


}
.gallery-box{ 
  width: 50%;
  margin: auto;

}
.description {
  display: flex;
  align-items: center;
  margin: .5rem 0;
  gap: 1rem;
  font-size: 1.5rem;
}

.description>i {
  font-size: 1.2rem;
}

.content-left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: auto;
}

.set-package {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex: 1;
}
::ng-deep .mat-step-header{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  font-size: .8rem;
}
.mat-horizontal-stepper{
  width: 70%;
  margin: 0 auto;
}
.stepper-label{
  font-size: 12px;
}

.set-package-header>h2 {
  color: black;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}
.step-1-date {
  margin: 1rem 0;
}

.demo-inline-calendar-card {
  width: 50%;
  margin: auto;
}

.p-form {
  text-align: center;
  font-size: 1.2rem;
  margin: 1rem auto;
  font-weight: 700;
}

.p-dates {
  text-align: center;
  margin: 1rem auto;
  font: 1.5rem;
  font-weight: 700;
}

.p-dates>strong {
  color: #374d3b;
}

.persons-field {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  gap: 1rem;
}
.controls{
  display: flex;
  align-items: center;
}

.persons-field-mat-label {
  width: 4rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
  flex: 1;

}

.handler-persons-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .4rem;
  font-size: 1.2rem;
  font-weight: 700;
  height: fit-content;

}

.minus-btn,
.plus-btn {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  color: #374d3b;
}

.mat-step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0 3rem 0;


}

.step-buttons {
  position: relative;
  bottom: 0;
  margin: auto;
  align-self: flex-end;
}

.toggle-info {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
}

.card-step-hotel {
  display: flex;
  flex-direction: column;
}

.card-step-hotel-true {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 1rem 0;
  padding: 2rem;
  gap: .8rem;
}

.hotel-header {
  display: flex;
  align-items: center;
  margin: .5rem 0;
  gap: .7rem;
}

.badges {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: .8rem;
  margin-bottom: 1rem;
}

.badge-rating,
.badge-price
 {
  background-color: #1c6d1c;
  color: white;
  width: fit-content;
  border-radius: 8px;
  padding: .3rem .5rem;
  font-weight: 700;
}


.hotel-name {
  font-weight: 700;
}

.btn-info {
  text-decoration: none;
  font-weight: 700;
  color: #374d3b;
  border-radius: 10px;
  width: fit-content;
  border-radius: 10px;
  padding: .2rem .5rem;
  margin: .5rem auto;
}


.btn-info:hover {
  color: #fff;
  background-color: #1c6d1c;
  border-radius: 10px;
  width: fit-content;
  border-radius: 10px;
  padding: .2rem .5rem;
  transition: .3s ease-out;
}


.card-step-experience{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80%;
  font-size: 1.2rem;


}


.exp-header{
  display: flex;
  gap:.5rem;
}

.exp-header button{
  background-color: #7e47c7b7;
  color: white;
  border-radius: 8px;
  padding: .2rem .5rem;
  font-weight: 700;
  font-size: .8rem;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1568px) {
  .travel-package-main{
    justify-content: center;
    gap: 5rem;

  }
}

@media screen and (max-width: 768px) {
  .mat-horizontal-stepper-header-container{
    flex-direction: column;
  }
  
  .travel-package-main{
    justify-content: center;
    gap: 5rem;

  }

  .content-left{
    width: 80%;
    margin: 0;
    
  }

  .gallery-box{
    width: 100%;
  }
  .package-content{
    margin: 2rem 0;
    width: 100%;
  }
  .header>h1 {

    font-size: 1.5rem;
    font-weight: 600;
  }
  .demo-inline-calendar-card {
    width: 80%;
    margin: auto;
  }
  .persons-field {

    width: 100%;
    gap: .7rem;
  }
  .mat-horizontal-stepper{
    width: 70%;
    margin: 0 auto;
    font-size: 1rem;
  }
  .set-package-header>h2 {
    font-size: 1.5rem;
  }
  
}