.icon-container {
  margin-top: 0.5rem;
  box-sizing: border-box;
  width: 8rem;
  padding: 0.5rem 1rem;
  display: flex;
  border: 2px solid #1e1e1e;
  font-weight: bold;
}

.icon {
  width: 20px;
  margin-left: 1rem;
}

table {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

thead {
  background-color: #1e1e1e;
  color: #fff;
}

.td-icon {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
}