<div class="users-container">
  <a [routerLink]="['/user-dashboard/destination/new-destination']"><span class="icon-container">Agregar <img class="icon" src="/assets/icons/plus-solid.svg" alt="plus icon"></span></a>
  <table>
    <thead>
      <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Ciudad</td>
        <td *ngIf="windowSize">Descripción</td>
        <td>Update</td>
        <td>Delete</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let destination of destinations">
        <td>{{destination.id}}</td>
        <td>{{destination.name}}</td>
        <td>{{destination.city.name}}</td>
        <td *ngIf="windowSize">{{destination.description}}</td>
        <td>
          <a [routerLink]="['/user-dashboard/destinations',destination.id]"><img class="td-icon" src="/assets/icons/pen-to-square-solid.svg" alt="icon update"></a>
        </td>
        <td (click)="deleteDestination(destination.id)"><img class="td-icon" src="/assets/icons/trash-solid.svg" alt="trash icon"></td>
      </tr>
    </tbody>
  </table>
</div>
