<section>
    <app-province-form *ngIf="!showUsersTable && !showDestinationsTable && !showCitiesTable && !showProvincesTable" [formInfo]="formInfo" [showForm]="showProvinceForm"></app-province-form>
<!--    <div *ngIf="showForm && !showUsersTable && !showDestinationsTable && !showCitiesTable && !showProvincesTable" class="container mx-auto py-8">-->
<!--        <h1 class="text-2xl font-bold mb-6 text-center">Agregar</h1>-->
<!--        <form class="w-full max-w-sm mx-auto bg-white p-8 rounded-md shadow-md">-->
<!--            <div class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name</label>-->
<!--                <input class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"-->
<!--                       type="text" id="name" name="name" placeholder="Name">-->
<!--                <div *ngIf="Name?.errors && Name?.touched">-->
<!--                    <p *ngIf="Name?.hasError('required')">El nombre es requerido</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div *ngIf="formInfo.content.includes('user')" class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>-->
<!--                <input class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"-->
<!--                       type="email" id="email" name="email" placeholder="john@example.com">-->
<!--            </div>-->
<!--            <div *ngIf="formInfo.content.includes('user')" class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>-->
<!--                <input class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"-->
<!--                       type="password" id="password" name="password" placeholder="********">-->
<!--            </div>-->
<!--            <div *ngIf="formInfo.content.includes('user')" class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="confirm-password">Confirm-->
<!--                    Password</label>-->
<!--                <input class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"-->
<!--                       type="password" id="confirm-password" name="confirm-password" placeholder="********">-->
<!--            </div>-->
<!--            <div *ngIf="formInfo.content.includes('province')" class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="lat">Latitud</label>-->
<!--                <input class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"-->
<!--                       type="number" id="lat" name="lat" placeholder="Latitud">-->
<!--            </div>-->
<!--            <div *ngIf="formInfo.content.includes('province')" class="mb-4">-->
<!--                <label class="block text-gray-700 text-sm font-bold mb-2" for="lon">Longitud</label>-->
<!--                <input class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"-->
<!--                       type="number" id="lon" name="lon" placeholder="Longitud">-->
<!--            </div>-->
<!--            <button *ngIf="formInfo.type.includes('create')"-->
<!--                    class="w-full bg-indigo-500 text-white text-sm font-bold py-2 px-4 rounded-md hover:bg-indigo-600 transition duration-300"-->
<!--                    type="submit">Agregar-->
<!--            </button>-->
<!--        </form>-->
<!--    </div>-->
</section>
