<section>
    <app-province-form
            *ngIf="showContentTab && !showUsersTable && !showDestinationsTable && !showCitiesTable && !showProvincesTable && !showOrdersTable && !showPackagesTable && showProvinceForm"
            [formInfo]="formInfo" [showForm]="showProvinceForm"></app-province-form>
    <app-city-form
            *ngIf="showContentTab && !showUsersTable && !showDestinationsTable && !showCitiesTable && !showProvincesTable && !showOrdersTable && !showPackagesTable && showCityForm"
            [formInfo]="formInfo" [showForm]="showCityForm"></app-city-form>
    <app-user-form
            *ngIf="showContentTab && !showUsersTable && !showDestinationsTable && !showCitiesTable && !showProvincesTable && !showOrdersTable && !showPackagesTable && showUserForm"
            [formInfo]="formInfo" [showForm]="showUserForm"></app-user-form>
    <app-destination-form
            *ngIf="showContentTab && !showUsersTable && !showDestinationsTable && !showCitiesTable && !showProvincesTable && !showOrdersTable && !showPackagesTable && showDestinationForm"
            [formInfo]="formInfo" [showForm]="showDestinationForm"></app-destination-form>
    <app-packages-form *ngIf="showContentTab && !showUsersTable && !showDestinationsTable && !showCitiesTable && !showProvincesTable && !showOrdersTable && !showPackagesTable && showPackagesForm"
                       [formInfo]="formInfo" [showForm]="showPackagesForm"></app-packages-form>
</section>
