<section>
    <app-province-form
            *ngIf="showContentTab && !showUsersTable && !showDestinationsTable && !showCitiesTable && !showProvincesTable && showProvinceForm"
            [formInfo]="formInfo" [showForm]="showProvinceForm"></app-province-form>
    <app-city-form
            *ngIf="showContentTab && !showUsersTable && !showDestinationsTable && !showCitiesTable && !showProvincesTable && showCityForm"
            [formInfo]="formInfo" [showForm]="showCityForm"></app-city-form>
    <app-user-form
            *ngIf="showContentTab && !showUsersTable && !showDestinationsTable && !showCitiesTable && !showProvincesTable && showUserForm"
            [formInfo]="formInfo" [showForm]="showUserForm"></app-user-form>
</section>
