main {
    width: 50%;
    height: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 40px;
    box-sizing: border-box;
    margin-top: 7%;
    margin-bottom: 7%;
    border-radius: 7px;
    margin-left: 25%;
    
}



h1 {
    text-align: center;
    margin: 1%;
    margin-bottom: 5%;
    font-size: 50px;

}


input, textarea {
    width: 100%;
    height: 45%;
    margin-bottom: 2%;
    padding: 1%;
    box-sizing: border-box;
    font-size: 20px;
}

textarea {
    min-height: 200px;
    max-height: 300px;
    max-width: 100%;
}

#envio {
    background: #31384A;
    color: #fff;
    padding: 20px;
}

#envio:hover {
    box-shadow: inset 100vh 0 0 0 #a0b6c5;
    cursor: pointer;
}

@media (max-width:650px){
    from{
        width: 90%;
    }
    #envio:hover {
        box-shadow: inset 100vh 0 0 0 #a0b6c5;
        cursor: pointer;
    }

    h1{
        font-size: 20px;
    }

    input, textarea{
        font-size: 15px;
    }
}

