.login-container {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    background: url("/assets/img/fondo.svg") no-repeat fixed;
    background-size: cover;
  }
