<div class="login-container">
  <div class="logo">
    <a routerLink="/">
      <img src="/assets/img/logo.svg" alt="logo" />
    </a>
  </div>
  <div class="form-side">
    <h1>Bienvenido nuevamente!</h1>
    <div class="registro">
      <form [formGroup]="formularioLogin" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>username:</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            color="primary"
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <button type="submit" mat-button color="primary">Iniciar Sesión</button>
      </form>
      <p>Todavía no tenes una cuenta?</p>
      <a routerLink="/registro">Registrate</a>
    </div>
  </div>
</div>
