asgiref==3.6.0
certifi==2023.5.7
charset-normalizer==3.1.0
cloudinary==1.33.0
Django==4.2
django-cloudinary-storage==0.3.0
django-cors-headers==4.0.0
django-filter==23.2
djangorestframework==3.14.0
djangorestframework-camel-case==1.4.2
djangorestframework-simplejwt==5.2.2
idna==3.4
importlib-metadata==6.6.0
Markdown==3.4.3
mysqlclient==2.1.1
PyJWT==2.7.0
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0
six==1.16.0
sqlparse==0.4.3
tzdata==2023.3
urllib3==1.26.16
zipp==3.15.0
