.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2rem auto;
  overflow:hidden;

}

.carousel img {
  width: 100%;
}

.carousel img:not(.active-img) {
  display: none;
}

.carousel{
  display: flex;
  justify-content: center;
  align-items: center;

}

.active-img {
  display: block;
  width: 90%;
  height: 30rem;
  border-radius: .8rem;
}

.btn-carrousel{
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;

}

.btn-right{
  right: 0;
  top: 50%;
}

.btn-left{
  left: 0;
  top: 50%;
}

.btn-carrousel i{
  font-size: 1.2rem;
  padding: .5rem;
}

.dots{
  position: absolute;
  bottom: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.dots .dot{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
.dot:not(.active-dot){
  background-color: #fffcfc7a;
}

.active-dot{
  background-color: #56d1c79d;

}




@media screen and (max-width: 768px) {
  .active-img {
    height: 20rem;
    object-fit: contain;
  }
}
  
