
<div class="carousel-container">
  <div class="carousel" >
    <img
    *ngFor="let image of gallery; let i = index"
    [ngClass]="{'active-img': (activeIndex === i)}" [src]="image.url" alt="">
  </div>

  <div class="dots">
    <span *ngFor="let dots of gallery; let i = index"
      class="dot"
      [ngClass]="{'active-dot': (activeIndex === i)}"
    ></span>
  </div>

  <button (click)="previousImage()" class="btn-carrousel btn-left">
      <i class="fas fa fa-arrow-left"></i>
  </button>
  <button (click)="nextImage()" class="btn-carrousel btn-right">
    <i class="fas fa fa-arrow-right"></i>
  </button>

</div>