:root {
  --primary-color: #a0b6c5;
  --primary-default-color: #fff;
  --secondary-default-color: #000;
  --background: #f7f7f7;
  --nav-link-hover: #2a2c2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}


/* Header */

#searchBar {
  border-radius: 15px;
}

#btn-search {
  background-color: var(--primary-default-color);
}

.navbar {
  background-color: var(--primary-color);
}

.nav-link {
  color: var(--secondary-default-color);
}

.nav-link:hover {
  font-weight: bold;
  color: var(--nav-link-hover);
}

/* Main */

.main {
  margin: 1rem 0;
  padding: 1rem;
}

.main__title {
  font-size: 2.5rem;
}

.main__subtitle {
  font-size: 0.9rem;
}

.btn {
  width: 5.625rem;
  font-weight: 700;
  background-color: var(--primary-color);
}

.cards {
  margin-top: 2rem;
}

/* Footer */

.footer{
    padding:15px 0 15px 0;
    background-color: var(--secondary-color);
}
.footer ul, .footer p{
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 10px;

}
.list-item{
    list-style: none;
    font-size: 1.3rem;
    
}

/* Cards */
.container{
    width: 100%;
    max-width: 1200px;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
}

.container .card{
    width: 300px;
    height: 50%;
    border-radius: 30px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin-left: 5%;
    margin-top: 3%;
    text-align: center;
    transition: all 0.30s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}


/* Destino  */

.main-carrousell {
    margin-top: 4%;
}

.carrousell{
    margin-top: 2%;
    margin-bottom: 3%;
}

.carrousell-title{
    margin-left: 6%;
    margin-bottom: 0px;
}

.card-img {
    margin-right: 2%;
    background-image: url('../assets/img/example-photo.png');
    background-size: cover;
    display: flex;
    width: 350px;
    height: 300px;
    font-weight: bold; 
    color: #F7F7F7;
    align-items: flex-end;
    box-shadow: rgba(0, 0, 0, 0.99) 0px -23px 70px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#carrousell-icon {
    display: flex;
    justify-content: center;
    align-items: center;
} 

#carrousell-icon > button {
    font-size: 40px;
    border: none;
    background-color: #F7F7F7;
 
}

.card-img > div > .btn {
    border-radius: 24px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #fff;
    color: #fff;
    background-color: rgba(3, 3, 3, 0.644);
    width: 90px;
    height: 40px;
    margin-bottom: 7%;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #fff;
}

 .card-img-info {
    align-items: flex-end;
    padding: 4%;
} 

.card-img-btn {
     padding: 6%; 
}
 

.card-img > div > h5 {
    font-size: 28px;
    font-weight: bold;
   
}

.card-img > div > p {
    font-size: 12px;
    font-weight: normal;
}


/* fin- Destino  */

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
    background-image: url("../assets/img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Main */
  .main {
    margin-top: 1.5rem 0;
    padding: 2.5rem;
  }

  /* Footer */

  .footer {
    position: relative;
    bottom: 0;
    right: 0;
    color: var(--primary-default-color);
  }

  /* Card */

  .cards {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .card__header {
    align-self: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  
  body {
    height: auto;
  }
  /* Main */
  .main {
    padding: 2.5rem;
  }

  .main__title {
    font-size: 3.5rem;
  }

  .main__subtitle {
    font-size: 1.2rem;
  }

  .btn:hover {
    color: var(--primary-default-color);
    background-color: var(--nav-link-hover);
  }
}