<section class="cart-container container mx-auto my-10 min-h-[75vh] w-full">

  <h1 class="text-5xl my-8" *ngIf="cart.item !== null">Completar datos y finalizar compra</h1>
  <div *ngIf="cart.item !== null" class="item">
    <!-- <div class="data-container flex flex-col md:flex-row gap-6 "> -->
    <div class="data-container grid grid-rows-3 grid-flow-col gap-4 ">
      <div class="travelers-info col-span-2  shadow-md bg-gray-50 p-4">
        <p class="text-xl font-bold mb-2">¿Quiénes viajan?</p>
        <mat-accordion >
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="font-bold">
                Adultos
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="adults__form-container gap-3">
              <app-traveler *ngFor="let adults of cart.item.adults;index as i" [index]="i+1" [isChild]="false" class="mb-2"/>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="font-bold">
                Niños
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="childs__form-container">
              <app-traveler *ngFor="let adults of cart.item.adults;index as i" [index]="i+1" [isChild]="true" />
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="payment-info-container row-span-2 col-span-2 shadow-md bg-gray-50 p-4">
        <app-payment-info></app-payment-info>
      </div>

      <div class="row-span-3 shadow-md bg-gray-50 p-4 sticky">
        <app-price-box [cart]="cart"></app-price-box>
      </div>

      
    </div>
  </div>













  <div *ngIf="cart.item === null" class="empty-cart flex flex-col justify-center items-center">
    <img src="/assets/img/Backpackers-pana.svg" class="object-cover md:object-contain w-2/4 h-2/5">
    <p>No seleccionaste ningún paquete</p>
    <a routerLink="/" class="underline decoration-emerald-800 font-semibold">Buscar destino</a>
  </div>
</section>
