<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/details.css">
    <!-- Title -->
    <title>Destino Córdoba</title>
</head>
<body >
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="./index.html">Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
                    <li class="nav-item"><a class="nav-link" href="destinos.html">Destinos</a></li>
                    <li class="nav-item"><a class="nav-link" href="experiencias.html">Experiencias</a></li>
                    <li class="nav-item"><a class="nav-link" href="gastonomia.html">Gastronomia</a></li>
                    <li class="nav-item"><a class="nav-link" href="../Views/nosotros.html">Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link" href="./contacto.html">Contacto</a></li> 
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2 w-50" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light" id="btn-search" type="submit">Search</button>
                </form>
                <ul class="nav navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="container w-100">
            <h1 class="text-center m-3">Villa General Belgrano</h1>
            <div class="carousell d-flex justify-content-center">
            <button id="prev" class="border-0"><i class="bi bi-chevron-left arrow-icon"></i></button>
            <div class="">
                <img src="/front-end/assets/img/details1.jpg" class="d-block w-100" id="c-img" alt="...">
              </div>
              <button id="next"  class="border-0"><i class="bi bi-chevron-right arrow-icon"></i></button>
        </div>
            </div>
            <section>
                <div class="info-destino w-75 mt-5 m-auto text-left">
                    <p>
                        Villa General Belgrano se encuentra a tan solo 90 km de la Capital Cordobesa, dentro del Valle de Calamuchita. Por la fisonomía de construcciones alpinas, sus carteles y letreros tallados en madera, sus costumbres y los sabores intensos de su gastronomía, representa un viaje a rincones de la Europa central desde el corazón de las Sierras de Córdoba.</p>
                    <p>La localidad serrana es conocida por brindar a sus turistas un excelente nivel gastronómico y de servicios, además posee una infraestructura hotelera, que cuenta con piletas climatizadas y spa, que hacen que sea un punto ideal para vacacionar en cualquier época del año.

                    Los Paseos Naturales invitan a recorrer a través de caminatas los distintos atractivos del pueblo, preservando así el medio ambiente. Uno de los circuitos que ofrece es el Paseo de los Arroyos, que se encuentra en la zona céntrica y recorre los márgenes de los tres arroyos que atraviesan la Villa: El Molle, La Toma y El Sauce. Este recorrido permite disfrutar de la flora silvestre autóctona y exótica en medio de la tranquilidad de las Sierras.
                    
                    También se puede visitar el Pozo Verde, una Reserva Natural formada por intensos verdes donde reinan la zarzamora y los zorzales, y los rayos del sol se filtran entre la frondosa vegetación. La caminata continúa hasta el Cerro Mirador, donde se puede apreciar una hermosa vista del pueblo.</p>

                    <p class="mt-5">Otra de las mejores postales panorámicas que se pueden apreciar de Villa General Belgrano y del Valle de Calamuchita se obtienen realizando una caminata en ascenso al Cerro de la Virgen y el Pico Alemán (ambos a más de 1.300 metros), ubicados en el cordón de las Sierras Chicas sobre la ruta 5.

                    Un proyecto interesante de la Secretaría de Turismo y Desarrollo Sustentable de la Municipalidad son las Experiencias VGB, se trata de recorridos Eco-Turísticos con guía y diversas actividades como paseos con reconocimiento de Flora y Fauna, Avistaje de Aves, Dorf Tour, recorrido por los principales lugares culturales del pueblo, y Paseos por la Historia, visitando museos y lugares históricos.
                    
                    Otra gran propuesta es Tres destinos, un camino, un recorrido que tiene a Villa General Belgrano como centro-base para alojarse y poder visitar las localidades cercanas de Alta Gracia y Ciudad de Córdoba. Este circuito es realizado principalmente por el público extranjero y es una ruta turística que ellos mismos generaron. Ingresando por la Ciudad de Córdoba, desde el aeropuerto, donde se visitan los edificios tradicionales en el corazón de la ciudad con su impronta jesuítica y que son Patrimonio Cultural de la Humanidad. El recorrido continúa por Alta Gracia, sede de otro importante legado histórico Cultural: La estancia Jesuítica, Museo del Che Guevara, terminando en Villa General Belgrano donde la calidez de los servicios, la cultura centroeuropea, la excelente gastronomía de igual procedencia, y la posibilidad de realizar actividades en un entorno natural único, hacen que sea el lugar preferido para el descanso de miles de turistas.</p>
                </div>
            </section>
            <section class="comments container">
                <h4 class="w-75 mt-5 m-auto text-center">Ya visitaste este lugar? Cuentanos tu opinión</h4>
                <form action="" class="form-comments w-75 d-flex justify-content-center flex-column">
                    <img src="/front-end/assets/img/avatar.png" class="user-avatar" alt="">
                    <input type="text" class="" placeholder="Nombre">
                    <textarea class="" placeholder="Deja un comentario"></textarea>
                </form>
            </section>
    </main>


    
    <footer class="footer d-flex flex-column">

        <ul class="d-flex justify-content-center gap-3 align-items-center">
            <li class="list-item text-dark"><i class="bi bi-facebook"></i></li>
            <li class="list-item text-dark"><i class="bi bi-whatsapp"></i></li>
            <li class="list-item text-dark"><i class="bi bi-instagram"></i></li>
        </ul>
        <p class="align-self-center text-dark">2022 - MiniDevs</p>

    </footer>



    <script src="/front-end/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>