<section class="update-form-destination">
  <h2 class="title">Actualizar Destino</h2>

  <form
    *ngIf="destination"
    class="destination-form"
    [formGroup]="destinationFormData"
    (ngSubmit)="onSubmit()"
  >
    <label for="name">Nombre</label>
    <input
      type="text"
      name="name"
      id="name"
      value="{{ destination.name }}"
      formControlName="name"
    />
    <label for="city">Ciudad</label>
    <input
      type="text"
      name="city"
      id="city"
      value="{{ destination.city.name }}"
      formControlName="city"
    />
    <label for="description">Descripción</label>
    <textarea
      name="description"
      id="description"
      cols="30"
      rows="5"
      value="{{ destination.description }}"
      formControlName="description"
    ></textarea>
    <label for="image">Imagen</label>
    <input
      type="text"
      name="image"
      id="image"
      value="{{ destination.gallery[0] }}"
      formControlName="image"
    />
    <div class="btns">
      <button class="btn" type="submit">Actualizar</button>
      <button class="btn" [routerLink]="['/user-dashboard']">Volver</button>
    </div>
  </form>
</section>
