<section class="form-container">
  <h2 class="title">Actualizar</h2>
  <form action="" [formGroup]="currentUser" (ngSubmit)="onSubmit()">
    <label for="first_name">Nombre</label>
    <input
      type="text"
      name="first_name"
      id="first_name"
      formControlName="first_name"
    />
    <label for="last_name">Apellido</label>
    <input
      type="text"
      name="last_name"
      id="last_name"
      formControlName="last_name"
    />
    <label for="email">Email</label>
    <input type="email" name="email" id="email" formControlName="email" />
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      formControlName="password"
    />
    <label for="phone">phone</label>
    <input type="tel" name="phone" id="phone" formControlName="phone" />
    <label for="photo">photo</label>
    <input type="text" name="photo" id="photo" formControlName="photo" />
    <label for="street">Street</label>
    <input type="text" name="street" id="street" formControlName="address" />
    <label for="number">Number</label>
    <input type="text" name="number" id="number" formControlName="address" />
    <label for="zip_code">Zip Code</label>
    <input
      type="text"
      name="zip_code"
      id="zip_code"
      formControlName="address"
    />
    <div class="btns">
      <button class="btn" type="submit">Actualizar</button>
      <button class="btn" [routerLink]="['/user-dashboard']">Volver</button>
    </div>
  </form>
</section>
